extends ../layout

block content
  .row.justify-content-center.mb-3
    .col-1
      a.btn.btn-outline-secondary(href="/transfer" style="border-radius:12px;")
        i.bi.bi-arrow-left.align-middle
    .col-6.text-center
      h2 Settings
    .col-1

  if setKeysSuccess
    .row.justify-content-center.mb-3
      .col-8
        .alert.alert-success.text-center Keys set successfully

  if changePasswordSuccess
    .row.justify-content-center.mb-3
      .col-8
        .alert.alert-success.text-center Password changed successfully

  if error
    .row.justify-content-center.mb-3
      .col-8
        .alert.alert-danger.text-center= error

  .row.justify-content-center.mb-3
    .col-8.mb-3
      h4.font-weight-bold User profile information
      hr(style="border-top:3px solid #000; width:100%; margin:auto; margin-bottom:20px;")
      div.text.mt-2
       | username: #{user.username}
       br
       | email address for notifications: #{user.email}
      div.text-muted.small.mt-1
       | account created at: #{user.created_at}
       br
       | last login at: #{user.last_login}

    // .col-8.mb-3
      h4.font-weight-bold Server information
      hr(style="border-top:3px solid #000; width:100%; margin:auto; margin-bottom:20px;")
      p.mt-3 [message configured by the server admin]

    .col-8.mb-3
      h4.font-weight-bold Password management
      hr(style="border-top:3px solid #000; width:100%; margin:auto; margin-bottom:20px;")
      div.text-muted.small.mb-1
        | password set at: #{user.password_created_at}
      a.btn.btn-dark.mb-3(href="/user/change-password" style="border-radius:15px; padding:10px 40px;") Change password

    .col-8.mb-3
      h4.font-weight-bold Key management
      hr(style="border-top:3px solid #000; width:100%; margin:auto; margin-bottom:20px;")
      label.form-label(for="publicKeyField") Public Key
      div.text-muted.small.mb-1
        | key created at: #{user.key_created_at}
      .input-group.mb-2.mx-auto(style="max-width:100%")
        textarea.form-control.form-control-sm(
          id="publicKeyField",
          readonly,
          rows="2",
          style="word-break:break-all; overflow-wrap:anywhere;"
          disabled
        ) #{user.public_key}
        button.btn.btn-outline-secondary(type="button", id="copyPublicKeyBtn")
          i.bi.bi-clipboard
      div.text-muted.mb-2
        | This is your public key. It will be automatically shared with others so they can send you files.
      a.btn.btn-dark.mt-2(href="/user/set-keys" style="border-radius:15px; padding:10px 30px;") Change Key-Pair and Master-Password
      if user.public_key
        p.mt-2.text-danger.small Warning: previously received files will become irretrievable upon changing your Key-Pair

  script(type="module").
    import { copyToClipboard } from '/js/common.js';
    document.getElementById('copyPublicKeyBtn').addEventListener('click', () => copyToClipboard('publicKeyField', 'copyPublicKeyBtn'));
